/* PAGE */
html {

}

body {
    padding-top: 70px;
    min-height: 100%;
    position: relative;
}

main {
    margin-top: 0;
}

/* Define Fonts */
@font-face {
    font-family: BebasRegular;
    src:
        url(../fonts/BebasNeue-Regular.ttf);

}
@font-face {
    font-family: BebasBook;
        src:
        url(../fonts/BebasNeue-Book.ttf);

}
@font-face {
    font-family: Erasdemi;
        src:            
        url(../fonts/ERASDEMI.TTF);

}
@font-face {
    font-family: Futuristic;
        src:            
        url(../fonts/FUTRFW.TTF);
}

/* Genericos */
h1 {
    font-family: BebasRegular;
}

p {
    font-family: Erasdemi;
}

a:focus,
a:hover {
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.padd5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.icono {
    height:1.5em;
}

.oculto { 
    display: none;
}

/* HEADER */
.header {
    background-image: url("../img/header.png");
	background-repeat:no-repeat;
    background-size:cover;
    background-color: #d4bd87;
	height:150px;
    width:100%;
    
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 5px 18px 10px rgba(0,0,0,0.54);
    box-shadow: 0px 5px 18px 10px rgba(0,0,0,0.54);
}

/* BUSCADOR */
.buscador {
    background-color: #5b5b5f;
    height:50px;
    width:100%;
}

.buscador form {
    padding: 10px;
    text-align: right;
    vertical-align: middle;
}

.buscador form label {
    padding-right: 15px;
    color: white;
}

.buscador form img {
    padding-left: 5px;
    width: 30px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 200px;
    background-color: #5b5b5f;
    color: white;
    position: relative;
}

.footer img.logo_footer {
    width: 100%;
    height: 125px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer .columnas {
    padding-top: 25px;
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}

.link_footer {
    color: white;
    text-decoration: white;
}

/* DESTACADOS */
.destacados{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 25px;
    
}

.tipo_destacado {
    text-align: right;
    width: 85%;
    font-size: 1.5em;
    color: #8f8f8f;
}

.destacado{
    height: 400px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 2px 2px 5px #999;
    margin: 5px;
    position: relative;
}

.destacado .imagen {
    position: relative;
}

.destacado .imagen img {
    width: 100%;
    position:absolute;
}

.destacado .imagen p {
    z-index: 5;
    position: absolute;
    font-family: BebasRegular;
    font-weight: bold;
    right: 0px;
    margin-top: 3px;
    margin-right: 10px; 
}

.destacado .imagen img.marmol{
    z-index: 2;
    height: 100px;
}

.destacado .imagen img.foto {
    z-index: 1;
    height: 200px;
}

.destacado .titulo {
    font-family: BebasRegular;
    font-size: 1.8em;
}

.destacado .texto {
    width: 100%;
    color: black;

    position: absolute;
    bottom: 0;

}

.destacado .texto img.icono {
    height:1.5em;
}

.destacado .texto h1 {
    margin-left: 10px;
}

.destacado .texto p {
    margin-left: 10px;
}

.destacado .texto p.tags {
    background-color: #9c9c9c;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px !important;
    padding-right: 15px;
    padding-left: 15px;
}

.destacado .texto p.info {
    text-align: center;
    margin: 0px auto !important;
    padding-bottom: 10px;
}

.destacado .texto img.info {
    height: 2.5em;
    padding-bottom: 5px;
}

/* Buscando */
.buscando h1 {
    font-size: 3em;
    font-family: Futuristic;
    padding-top: 10px;
    text-align: center;
}

.buscando .buscando_items {
    width: 90%;
    background-color: #c9c3b7;
    box-shadow: 3px 5px 2px #999;
    padding-top: 15px;
    border-radius: 25px 25px 25px 25px;
}

.buscando .buscando_items .imagen {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buscando .buscando_items p {
    font-size: 1.5em;
    font-family: BebasRegular;
    text-align: center;
    color: white;
    font-weight: bold;
}

/* CIERRE */
.cierre {
    width: 75%;
    margin: 0 auto;
}

.cierre .mensaje {
    font-family: Erasdemi;
    margin: 35px;
    border: 2px solid #5b5b5f;
    border-radius: 25px 25px 25px 25px;
    padding: 25px;
}

.cierre .mensaje p {
    padding: 2%;
    font-size: 2em;
}

.cierre .invitacion h1 {
    font-family: Futuristic;
    font-size: 3em;
    text-align: center

}
/* BUSCADOR */
.full_filtros {
    width: 75%;
    margin: 0 auto;
}

/* PROPIEDADES */
.filtros {
    background-color: #777;
    border-radius: 25px 25px 25px 25px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 5px;
}
.filtros:focus {
    background-color: #666;
    border-color: #666;
}
.filtros:hover {
    background-color: #555;
    border-color: #555;
}

.lista_filtros {
    padding-left: 10%;
    padding-top: 5px;
}

.boton_filtro {
    font-size: 1.5em;
    width: 35%;
    background-color: #555;
    color: white;
    margin: 15px;
    border-radius: 15px;
}

/* Propiedad */
.propiedad {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 5px #999;
}

.prop_tipo_negocio {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #d4bd87;
    font-size: 2.5em;
    background: rgba(124, 120, 120, 0.8);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.prop_precio {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: white;
    font-size: 2.5em;
    background: rgba(124, 120, 120, 0.8);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.prop_nombre {
    padding: 10px;
    text-align: center;
    border: 1px solid #5b5b5f;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 5px #999;
}

.prop_descripcion {
    font-size: 1.3em;
    padding-left: 10%;
    padding-right: 10%;
    max-height: 100px;
}

/* CAROUSEL */
 .foto_propiedad {
    width: 100%;
    border-radius: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-control.left {
    background-image: initial;
}

.carousel-control.right {
    background-image: initial;
}

/* Quienes somos */
.full_height {
    height: 100%;
}

.nosotros {
    text-align: center;
    padding: 25px;
}

.nosotros h1 {
    text-align: left;
    color: #d4bd87;
    font-size: 2em;
    font-weight: bold;
    font-family: Futuristic;
}

.nosotros p {
    color: black;
    font-size: 1.5em;
}

/* CONTACTO */
.contactos {
    text-align: center;
}

.contactos h1 {
    font-size: 2em;
    color: #d4bd87;
    text-align: right;

}

.sedes {
    text-align: center;
    border: 1px solid #5b5b5f;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 6px 6px 5px #999;
    margin: 10px;
    margin-top: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

.sedes .telefonos {
    text-align: right;
}

.sedes .icono {
    margin-top: 10px;
}

.sedes .telefonos .icono {
    margin-bottom: 10px;
}

.sedes .nombre {
    padding-left: 15px;
    color: gray;
    font-weight: bold;
}

.sedes .telefono {
    padding-left: 15px;
    font-weight: bold;
}

.sedes .sede {
    text-align: center;
    padding-left: 15px;
    min-height: 200px;
}

.sedes .sede h1 {
    color: black;
    font-weight: bold;
}

.sedes .horario {
    background: #afafb9;
    color: white;
    padding-left: 0px;
    padding-right: 0px; 
}

.sedes .horario p.titulo {
    padding-top: 10px;
    font-size: 1.5em;
    font-family: BebasRegular;
}

.sedes .horario p.horas{
    font-size:2.5em;
    font-weight:bold;
    font-family: BebasRegular;
}

.sedes .mascara_abajo {
    width: 100%;
    height: 100px;
    margin-top: -25px;
}

.quebuscas {
    text-align: center;
    background-color: #c8c1b7;
    color: white;
    height: 100%;
    box-shadow: 5px 5px 5px 5px rgb(54, 54, 54);
}

.quebuscas h1 {
    font-family: Futuristic;
    font-size: 1.5em;
}

.quebuscas .contacto p {
    font-family: BebasRegular;
    font-size: 2em;
}

.contacto a {
    color: white;
}

.contacto p {
    font-size: 1em;
}

.contacto img {
    width: 90%;
}

.col-md-6.divisor::after {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    background: gray;
    right: -10px;
    top: 15%;
}

/* Tasacion */
.tasacion_left {
    vertical-align: middle;
    padding: 50px;
}

.tasacion_left h1 {
    font-family: Futuristic;
    text-align: center;
    color: #d4bd87;
}

.tasacion_left p {
    text-align: center;
    color: black;
    font-size: 1.3em;
}

.tasacion_form {
    color: rgb(78, 78, 78);
    border: 1px solid #5b5b5f;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 5px #999;
    margin: 25px;
    text-align: center;
    vertical-align: middle;
}

.tasacion_form label {
    width: 100%;
    margin: 5px;
    padding-left: 50px;
    text-align: left;
}

.tasacion_form p.cabecera {
    color: white;
    background-color: rgb(160, 159, 159);
    font-size: 1.5em;
    border-radius: 25px 25px 0px 0px;
    padding: 5px;
}

.tasacion_form h1.titulo {
    color: #d4bd87;
    font-size: 1.8em;
    padding-left: 10px;
    width: 100%;
    margin: 5px;
    text-align: left;
}

.tasacion_form input {
    margin: 5px;
    margin-top: 0px;
    border-radius: 15px 15px 15px 15px;
    width: 75%;
}

.tasacion_form select {
    margin: 5px;
    margin-top: 0px;
    border-radius: 15px 15px 15px 15px;
    width: 75%;
}

.tasacion_form textarea {
    height: 5em;
    width: 75%;
    border-radius: 15px 15px 15px 15px;
}

.tasacion_form button {
    margin: 15px;
    border-radius: 15px 15px 15px 15px;
}

.tasacion_enviado {
    color: rgb(78, 78, 78);
    border: 1px solid #5b5b5f;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 5px #999;
    margin: 25px;
    text-align: center;
    vertical-align: middle;
    min-height: 300px;
}

.tasacion_enviado p.cabecera {
    color: white;
    background-color: rgb(160, 159, 159);
    font-size: 1.5em;
    border-radius: 25px 25px 0px 0px;
    padding: 5px;
}

.tasacion_enviado h1.titulo {
    font-family: Futuristic;
    color: #d4bd87;
    font-size: 3em;
    padding-left: 10px;
    width: 100%;
    margin: 15px;
    text-align: center;
}

.tasacion_enviado p {
    font-size: 1.5em;
    padding: 30px;
}

/* PROYECTO */

.proyecto_form {
    color: rgb(78, 78, 78);
    border: 1px solid #5b5b5f;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 5px #999;
    margin: 25px;
    text-align: center;
    vertical-align: middle;
}

.proyecto_form label {
    min-width: 20%;
    margin:10px;
    text-align: left;
}

.proyecto_form p.cabecera {
    color: white;
    background-color: rgb(160, 159, 159);
    font-size: 1.5em;
    border-radius: 25px 25px 0px 0px;
    padding: 5px;
}

.proyecto_form h1.titulo {
    color: #d4bd87;
    font-size: 1.8em;
    padding-left: 10px;
    width: 100%;
    margin: 5px;
    text-align: left;
}

.proyecto_form input {
    margin: 5px;
    margin-top: 0px;
    border-radius: 15px 15px 15px 15px;
    width: 70%;
    right: 0;
}

.proyecto_form select {
    margin: 5px;
    margin-top: 0px;
    border-radius: 15px 15px 15px 15px;
    width: 75%;
}

.proyecto_form textarea {
    height: 5em;
    width: 75%;
    border-radius: 15px 15px 15px 15px;
}

.proyecto_form button {
    margin: 15px;
    border-radius: 15px 15px 15px 15px;
}

input.boton {
    background-color: rgb(117, 113, 113);
    color: white;
    width: 25%;
}

button.boton {
    background-color: rgb(117, 113, 113);
    color: white;
    width: 25%;
}