{% load static %}
{% block content %}
    <div class="buscador">
        <form action="/propiedades/"  name="buscador" method="POST">
            {% csrf_token %}
            <label>Buscar</label>
            <input  id="search_box" type="text" name="search_box"  placeholder=""  required>
            <a href="/buscador"><img src="{% static 'img/icons/filtros.png' %}"></a>
        </form>
    </div>
{% endblock %}