{% load static %}
{% block content %}
      <footer>
        <div class="footer">
            <img class="logo_footer" src="{% static '/img/footer.png' %}">
            <div class="columnas">
                <div class="col-md-2 separador">
                    <p><a class="link_footer" href='/'>Inicio</a></p>
                    <p><a class="link_footer" href='/propiedades/'>Propiedades</a></p>
                    <p><a class="link_footer" href='/nosotros/'>Nosotros</a></p>
                    <p><a class="link_footer" href='/contacto'>Contacto</a></p>
                </div>
                <div class="col-md-2 separador">
                    <p><a class="link_footer" href='/ventas/'>Ventas</a></p>
                    <p><a class="link_footer" href='/alquileres/'>Alquileres</a></p>
                    <p><a class="link_footer" href='/proyectos/'>Proyectos</a></p>
                    <p><a class="link_footer" href='/tasaciones/'>Tasaciones</a></p>
                </div>
                <div class="col-md-3">
                    <p></p>
                    <p><img class="icono" src="{% static 'img/icons/email.png' %}"/><a class="link_footer" href='mailto:rqprop@gmail.com' target="_blank"> rqprop@gmail.com</a></p>
                    <p><img class="icono" src="{% static 'img/icons/telefono.png' %}"/> 388-4230600 388-154617000 388-155198000</p>
                    <p><img class="icono" src="{% static 'img/icons/ubicacion.png' %}"/><a class="link_footer" href='https://goo.gl/maps/VDJbvHdW2kXfBTc37' target="_blank">Necochea 252 1 Piso, Oficina 3 y 1.</a></p>
                </div>
            </div>
        </div>
      </footer>
{% endblock %}