{% load static %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}">
    <title>{% block title %}Rodriguez Quiroga{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
  </head>
{% endblock %}