{% block content %}
    <li><a href="/">Inicio</a></li>
    <li><a href="/propiedades/">Inmuebles</a></li>
    <li><a href="/nosotros/">Nosotros</a></li>
    <li><a href="/contacto/">Contacto</a></li>
    {% if user.is_staff %}
        <li><a href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}