{% load static %}
{% block content %}
    <div class="container-fluid nopadding">
        <div class="row nopadding">
            <div class="col-md-12 nopadding">
                <div id="carousel1" class="carousel slide" data-ride="carousel">
                    <!-- Contenedor de las imagenes -->
                    <div class="carousel-inner" role="listbox">
                        {% for foto in fotos %}
                        <div class="item{% if forloop.first %} active{% endif %}">
                            <img class="foto_propiedad" src="/archivos/{{foto.imagen}}" alt="foto.nombre">
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>

                </div>


            </div>
        </div>
    </div>
{% endblock %}