{% load static %}
{% block content %}
    <form action="/propiedades/"  name="filtrar" method="POST">
        {% csrf_token %}
        <h1>Filtrar Propiedades por:</h1>
        <button type="button" class="btn btn-info filtros" data-toggle="collapse" data-target="#tipo_negocio">Tipo de negocio:</button>
        <div id="tipo_negocio" class="collapse lista_filtros">
            {% for tipo in tipos_negocio %}
                <input type="checkbox" name="tn-{{tipo.0}}" value="tn-{{tipo.0}}">{{tipo.1}}<br>
            {% endfor %}
        </div>
        <br>
        <button type="button" class="btn btn-info filtros" data-toggle="collapse" data-target="#tipo_prop">Tipo de Propiedad:</button>
        <div id="tipo_prop" class="collapse lista_filtros">
            {% for tipo in tipos_propiedad %}
                <input type="checkbox" name="tp-{{tipo.id}}" value="tn-{{tipo.id}}">{{tipo.nombre}}<br>
            {% endfor %}
        </div>
        <br>
        <button type="button" class="btn btn-info filtros" data-toggle="collapse" data-target="#zonas">Zonas:</button>
        <div id="zonas" class="collapse lista_filtros">
            {% for zona in zonas %}
                <input type="checkbox" name="zona-{{zona.id}}" value="zona-{{zona.id}}">{{zona.nombre}}<br>
            {% endfor %}
        </div>
        <br>
        <button type="button" class="btn btn-info filtros" data-toggle="collapse" data-target="#etiquetas">Etiqueta:</button>
        <div id="etiquetas" class="collapse lista_filtros">
            {% for etiqueta in etiquetas %}
                <input type="checkbox" name="etiqueta-{{etiqueta.id}}" value="etiqueta-{{etiqueta.id}}">{{etiqueta.nombre}}<br>
            {% endfor %}
        </div>
        <br>
        <div class="text-center">
            <input type="submit" value="filtrar" name="filtrar" class='boton_filtro'>
        </div>
    </form>
{% endblock %}