{% load static %}
{% block content %}
    <div class="col-md-3 quebuscas">
        <h1>QUE ESTAS BUSCANDO?</h1>
            <div class="col-md-6 contacto">
                <a href='/ventas/'>
                    <img src="{% static 'img/icons/ventas.png' %}"/>
                    <p>VENTAS</p>
                </a>
            </div>
            <div class="col-md-6 contacto">
                <a href='/alquileres/'>
                    <img class="imagen" src="{% static 'img/icons/alquileres.png' %}"/>
                    <p>ALQUILERES</p>
                </a>
            </div>
            <div class="col-md-6 contacto">
                <a href='/proyectos/'>
                    <img class="imagen" src="{% static 'img/icons/proyectos.png' %}"/>
                    <p>PROYECTOS</p>
                </a>
            </div>
            <div class="col-md-6 contacto">
                <a href='/tasaciones/'>
                    <img class="imagen" src="{% static 'img/icons/tasaciones.png' %}"/>
                    <p>TASACIONES</p>
                </a>
            </div>
        <h1>CONTACTANOS Y CRECÉ CON NOSOTROS</h1>
    </div>
{% endblock %}