<!DOCTYPE html>
<html lang="en">
  {% include "base/head.html" %}
  <body id="body">
    {% include "base/menu.html" %}
    {% include "base/header.html" %}
    {% include "base/buscador.html" %}
    <main>
      {% block content %}
        <!-- Aqui ingresa el codigo operativo de la view llamada -->
      {% endblock %}
    </main>
    {% include "base/footer.html" %}
    {% include "base/scripts.html" %}
  </body>
</html>