{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 contactos">
                {% for sede in sedes %}
                    <div class="col-md-5">
                        <h1>{{sede.localidad}}</h1>
                        <div class="col-md-12 sedes">
                            <div class="col-md-6 telefonos divisor">
                                <img class="icono" src="{% static 'img/icons/telefono.png' %}"/>
                                {% for contacto in sede.contactos.all %}
                                    <p class="nombre">{{contacto.nombre}}</p>
                                    <p class="telefono">{{contacto.telefono}}</p>
                                {% endfor %}
                            </div>
                            <div class="col-md-6" style="text-align: left">
                                <img class="icono" src="{% static 'img/icons/ubicacion.png' %}"/>
                                <div class="sede">
                                    <h1>{{sede.direccion}}</h1>
                                </div>
                            </div>
                            <div class="col-md-12 horario">
                                <p class="titulo">HORARIO DE ATENCION:</p>
                                <p class="horas">{{sede.horario}}</p>
                            </div>
                            <img class="mascara_abajo" src="{% static 'img/gpsMascara.png' %}"/>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3 quebuscas">
                <h1>QUE ESTAS BUSCANDO?</h1>
                    <div class="col-md-6 contacto">
                        <a href='/ventas/'>
                            <img src="{% static 'img/icons/ventas.png' %}"/>
                            <p>Ventas</p>
                        </a>
                    </div>
                    <div class="col-md-6 contacto">
                        <a href='/alquileres/'>
                            <img class="imagen" src="{% static 'img/icons/alquileres.png' %}"/>
                            <p>Alquileres</p>
                        </a>
                    </div>
                    <div class="col-md-6 contacto">
                        <a href='/proyectos/'>
                            <img class="imagen" src="{% static 'img/icons/proyectos.png' %}"/>
                            <p>Proyectos</p>
                        </a>
                    </div>
                    <div class="col-md-6 contacto">
                        <a href='/tasaciones/'>
                            <img class="imagen" src="{% static 'img/icons/tasaciones.png' %}"/>
                            <p>Tasaciones</p>
                        </a>
                    </div>
                <h1>CONTACTANOS Y CRECÉ CON NOSOTROS</h1>
            </div>
        </div>
    </div>
{% endblock %}