{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 propiedad">
                <div class="full_filtros">
                    {% include "utils/filtros.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}