{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="destacados container-fluid">
        <div class="row">
            {% for prop in propiedades %}
                <div class="col-md-3">
                    <a href="/propiedades/{{prop.id}}">
                        <div class="destacado">
                            <div class="imagen">
                                <p class="tipo_destacado">{{prop.get_tipo_negocio_display}} {{prop.tipo_propiedad.nombre}}</p>
                                <img class="marmol" src="{% static 'img/marmol.png' %}">
                                <img class="foto" src="/archivos/{{prop.fotos.all.0.imagen}}">
                            </div>
                            <div class="texto">
                                <h1 class="titulo">{{prop.nombre|upper}}</h1>
                                <p><img class="icono" src="{% static 'img/icons/ubicacion.png' %}"/>{{prop.direccion}}</p>
                                <p class="tags center-block">
                                    {{prop.dimensiones}}
                                    :
                                    {% for tag in prop.etiquetas.all %}
                                        {{tag.nombre}}
                                    {% endfor %}
                                </p>
                                <img class="info center-block" src="{% static 'img/info.png' %}"/>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="buscando">
        <h1>¿QUÉ ESTÁS BUSCANDO?</h1>
        <div class="buscando_items container">
            <div class="col-md-2">
            </div>
            <a href='/ventas/'>
                <div class="col-md-2 padd5">
                    <img class="imagen" src="{% static 'img/icons/ventas.png' %}"/>
                    <p>VENTAS</p>
                </div>
            </a>
            <a href='/alquileres/'>
                <div class="col-md-2 padd5">
                <img class="imagen" src="{% static 'img/icons/alquileres.png' %}"/>
                <p>ALQUILERES</p>
                </div>
            </a>
            <a href='/proyectos/'>
                <div class="col-md-2 padd5">
                <img class="imagen" src="{% static 'img/icons/proyectos.png' %}"/>
                <p>PROYECTOS</p>
                </div>
            </a>
            <a href='/tasaciones/'>
                <div class="col-md-2 padd5">
                <img class="imagen" src="{% static 'img/icons/tasaciones.png' %}"/>
                <p>TASACIONES</p>
                </div>
            </a>
            <div class="col-md-2">
            </div>
        </div>
    </div>

    <div class="cierre">
        <div class="mensaje">
            <p>Conocemos la importancia de los movimientos inmobiliarios.
            Por eso, nuestra prioridad es brindar a nuestros clientes una variada gama de servicios para que puedan gestionar todos sus proyectos junto a nosotros,
            dentro del marco de confianza y seguridad que nuestro establecimiento les ofrece.
            Contamos con propiedades de altísima calidad y excelentes ubicaciones, además de asesoramiento en proyectos y administración de propiedades.</p>
        </div>
        <div class="invitacion">
            <h1>CONTACTANOS Y CRECÉ CON NOSOTROS</h1>
        </div>
    </div>

{% endblock %}