{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 nosotros">
                <h1>¿QUIÉNES SOMOS?</h1>
                <p>Rodriguez Quiroga, es una empresa de servicios dedicada a asesorar, acompañar y generar negocios inmobiliarios, 
                trabajando constantemente para brindar la mejor atención a nuestros clientes con seriedad, respeto y profesionalismo.
                Con una extensa experiencia en Jujuy, contamos con dos oficinas estratégicamente ubicadas en la capital jujeña y en Humahuaca, 
                logrando satisfacer distintas demandas y generando nuevas oportunidades de negocio.</p>

                <h1>NUESTRA CULTURA Y MISIÓN:</h1>
                <p>Lograr una mejora continua en el nivel de satisfacción de los clientes, perfeccionando y adaptando constantemente nuestra gama de servicios. 
                Construir una estrecha relación con los clientes, guiarlos en el proceso de compra y venta, atenderlos con dedicación, calidez y transparencia.
                Fomentar el desarrollo, lealtad y espíritu de equipo de quienes trabajan en la empresa como el 
                medio privilegiado para alcanzar el logro de nuestra visión.</p>

                <h1>VISIÓN:</h1>
                <p>Generar valor en los negocios inmobiliarios, estar a la vanguardia del mercado, brindando un servicio profesional y especializado.</p>
            </div>
            {% include "utils/quebuscas.html" %}
        </div>
    </div>
{% endblock %}