{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 propiedad col-md-offset-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="prop_nombre">{{prop.tipo_propiedad}} {{prop.nombre}}</h1>
                            <p class="prop_descripcion">{{prop.descripcion | safe | slice:": 500"}}...</p>
                            <p><b></b></p>
                            {% if prop.zonas %}
                                <p>
                                    <b>Zona:</b>
                                    {% for z in prop.zonas.all %}
                                        {{z.nombre}}, 
                                    {% endfor %}
                                </p>
                            {% endif %}
                            
                            <p>
                                <b>Direccion:</b>{{prop.direccion}}
                                {% if prop.gps %}
                                    <a href="{{prop.gps}}" target="_blank"><img class="icono" src="{% static 'img/icons/gmap.png' %}"/></a>
                                {% endif %}
                            </p>

                            <p><b>Superficie:</b>{{prop.dimensiones}}</p>
                            
                            {% if prop.etiquetas.all %}
                                <p>
                                    <b>Etiquetas:</b>
                                    {% for etiqueta in prop.etiquetas.all %}
                                        {{etiqueta.nombre}}, 
                                    {% endfor %}
                                </p>
                            {% endif %}
                            
                            {% if prop.servicios.all %}
                                <p>
                                    <b>Servicios:</b>
                                    {% for servicio in prop.servicios.all %}
                                        {{servicio.nombre}}, 
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                        <div class="col-md-6 nopadding">
                            {% with fotos=prop.fotos.all %}     
                                {% include "utils/carousel.html" %}
                            {% endwith %}
                            <p class="prop_tipo_negocio">{{prop.get_tipo_negocio_display}}</p>
                            <p class="prop_precio">{{prop.tmoneda.simbolo}} {{prop.precio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}