{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="destacados container-fluid">
                    <div class="row">
                        {% if propiedades %}
                            {% for prop in propiedades %}
                                <div class="col-md-4">
                                    <a href="/propiedades/{{prop.id}}">
                                        <div class="destacado">
                                            <div class="imagen">
                                                <p class="tipo_destacado">{{prop.get_tipo_negocio_display}} {{prop.tipo_propiedad.nombre}}</p>
                                                <img class="marmol" src="{% static 'img/marmol.png' %}">
                                                <img class="foto" src="/archivos/{{prop.fotos.all.0.imagen}}">
                                            </div>
                                            <div class="texto">
                                                <h1>{{prop.nombre}}</h1>
                                                <p>
                                                    <img class="icono" src="{% static 'img/icons/ubicacion.png' %}"/>
                                                    {{prop.direccion}}
                                                </p>
                                                <p class="tags center-block">
                                                    {{prop.dimensiones}}
                                                    :
                                                    {% for tag in prop.etiquetas.all %}
                                                    {{tag.nombre}}
                                                    {% endfor %}
                                                </p>
                                                <img class="info center-block" src="{% static 'img/info.png' %}"/>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-md-9" style="float:none;margin:auto;margin-top:15%;">
                                <h1>No se han encontrado propiedades disponibles con los datos de búsqueda informados</h1>
                            </div>
                        {% endif %} 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {% include "utils/filtros.html" %}
            </div>
        </div>
{% endblock %}