{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 tasacion_left">
                <h1 style="font-size:2em;">ANIMATE A TU</h1>
                <h1>PROYECTO!</h1>
                <p>Si tenés un sueño, un proyecto del que estás entusiasmado y lo querés compartir con nosotros
                para que lo analicemos y le demos forma, no dudes en contactarnos y comentarnos tus ideas. 
                Las ideas son lo más valioso que tenemos, pero a veces necesitamos que otro nos de un empujón para saltar 
                a realizar nuestro proyecto.  Animate a completar el formulario y nos pondremos en contacto con vos lo antes posible!</p>
            </div>
            {% if not enviado %}
                <div class="col-md-6">
                    <form action=""  name="proyecto" method="POST">
                        {% csrf_token %}
                        <div class="proyecto_form" id="form1">
                                <h1 class="titulo">Datos del Propietario</h1>
                                <label>Nombre y apellido:</label>{{form.autor}}<br>
                                <label>Direccion Email:</label>{{form.email}}<br>
                                <label>Telefono de Contacto:</label>{{form.telefono}}<br>
                                <label>Contanos brevemente tu idea:</label><br>
                                {{form.info_adicional}}<br>
                                <input class="boton" type="submit" value="Enviar">
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="col-md-6">
                    <div class="tasacion_enviado">
                        <p class="cabecera">Sus datos se enviaron correctamente</p>
                        <h1 class="titulo">¡ GRACIAS !</h1>
                        <p>Nuestro equipo se comunicara con usted a la brevedad.
                            Cualquier consulta que tenga, dirijase a nuestra seccion de contactos. Ahi le brindaremos 
                            toda la informacion necesaria para llamarnos, enviarnos un E-mail con sus dudas o visitar 
                            nuestras oficinas.</p>
                    </div>
                </div>
            {% endif %}       
            {% include "utils/quebuscas.html" %}
        </div>
    </div>
{% endblock %}