{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 tasacion_left">
                <h1>TASACIONES</h1>
                <p>Si estás interesado en tasar tu inmueble, ya sea para venta o alquiler, llená nuestro formulario 
                y nuestro equipo se comunicará con vos a la brevedad.</p>
            </div>
            {% if not enviado %}
                <div class="col-md-6">
                    <form action=""  name="tasacion" method="POST">
                        {% csrf_token %}
                        <div class="tasacion_form" id="form1">
                            <p class="cabecera">Ingrese los datos basicos</p>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1 class="titulo">Datos del Propietario</h1>
                                        <label>Nombre y apellido:</label><br>
                                        {{form.autor}}<br>
                                        <label>Direccion Email:</label><br>
                                        {{form.email}}<br>
                                        <label>Telefono de Contacto:</label><br>
                                        {{form.telefono}}<br>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="titulo">Datos de la propiedad</h1>
                                        <label>Barrio:</label><br>
                                        {{form.barrio}}<br>
                                        <label>Calle:</label>
                                        {{form.calle}}
                                        <label>Numeracion:</label><br>
                                        {{form.numeracion}}<br>
                                        <label>Tipo Propiedad:</label><br>
                                        {{form.tipo_propiedad}}<br>
                                    </div>
                                    <button type="button" class="boton" onclick="siguiente('form1', 'form2')">Siguiente</button>
                                </div>
                            </div>
                        </div>
                        <div class="tasacion_form oculto" id="form2">
                            <p class="cabecera">Ingrese los datos de la propiedad</p>
                            <h1 class="titulo">Caracteristicas</h1>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>M2 Cubiertos:</label><br>
                                        {{form.metros_cubiertos}}<br>
                                        <label>M2 Semicubiertos:</label><br>
                                        {{form.metros_semicubiertos}}<br>
                                        <label>M2 Descubiertos:</label><br>
                                        {{form.metros_descubiertos}}<br>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Antiguedad:</label><br>
                                        {{form.antiguedad}}<br>
                                        <label>Tasar Para:</label><br>
                                        {{form.tipo_tasacion}}<br>
                                        <label>Condicion:</label><br>
                                        {{form.condiciones}}<br>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Informacion Adicional:</label><br>
                                        {{form.info_adicional}}<br>
                                        <button type="button" class="boton" onclick="siguiente('form2', 'form1')">Volver</button>
                                        <input class="boton" type="submit" value="Enviar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="col-md-6">
                    <div class="tasacion_enviado">
                        <p class="cabecera">Sus datos se enviaron correctamente</p>
                        <h1 class="titulo">¡ GRACIAS !</h1>
                        <p>Nuestro equipo se comunicara con usted a la brevedad.
                            Cualquier consulta que tenga, dirijase a nuestra seccion de contactos. Ahi le brindaremos 
                            toda la informacion necesaria para llamarnos, enviarnos un E-mail con sus dudas o visitar 
                            nuestras oficinas. </p>
                    </div>
                </div>
            {% endif %}       
            {% include "utils/quebuscas.html" %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/siguiente.js' %}"></script>
{% endblock %}